$clr-white: #ffffff;
$clr-bg: #070724;
$clr-dark-gray: #38384f;
$clr-light-gray: #838391;

$clr-mercury: #419EBB;
$clr-venus: #EDA249;
$clr-earth: #6f2ed6;
$clr-mars: #d14c32;
$clr-jupiter: #d83a34;
$clr-saturn: #cd5120;
$clr-uranus: #1ec2a4;
$clr-neptune: #2d68f0;

$fw-light: 400;
$fw-med: 500;
$fw-bold: 700;

$transition: all 200ms ease-in;
$page-border: 1px solid #ffffff31;